---

---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <!-- <link rel='icon' type='image/svg+xml' href='/favicon.svg' /> -->
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>TabsForMeals - Financial transparency</title>
  </head>
  <body class='min-h-screen min-[515px]:mx-9 py-7 px-6 xl:mx-32 flex flex-col'>
    <a href='/' class='font-title font-semibold text-2xl'>tabsformeals</a>
    <div class='flex flex-col gap-2 mt-8'>
      <h1 class='text-3xl font-bold'>Financial Transparency</h1>
      <p>We're committed to donating 100% of our profits to charity</p>
    </div>
  </body>
</html>
