---
import { Time } from '../components/tab/Time.tsx';
import '../styles/global.css';
import { RandomImage } from '../components/tab/RandomImage';
---

<html lang='en'>
  <head>
    <!-- Google Tag Manager -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=G-JMN656CNRM'
    ></script>
    <script>
      (window as any).dataLayer = (window as any).dataLayer || [];
      function gtag() {
        // @ts-ignore
        dataLayer.push(arguments);
      }
      // @ts-ignore
      gtag('js', new Date());
      // @ts-ignore
      gtag('config', 'G-JMN656CNRM');
    </script>
  </head>
  <!-- End Google Tag Manager -->
  <meta charset='utf-8' />
  <!-- <link rel='icon' type='image/svg+xml' href='/favicon.svg' /> -->
  <meta name='viewport' content='width=device-width' />
  <meta name='generator' content={Astro.generator} />
  <title>TabsForMeals</title>
  <script
    async
    src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9830751577760757'
    crossorigin='anonymous'></script>
  <meta name='monetag' content='11a40653f7ce2a546a0064169c86f3d2' />

  <body class='fade-in'>
    <RandomImage client:only='react' />
    <div class='fixed top-0 left-0 bottom-0 right-0 bg-black opacity-25'></div>

    <Time client:only='react' />

    <script type='text/javascript'>
      var infolinks_pid = 3424156;
      var infolinks_wsid = 0;
    </script>
    <script
      type='text/javascript'
      src='//resources.infolinks.com/js/infolinks_main.js'></script>
    <script type='text/javascript'>
      atOptions = {
        key: '737136958b02f59379dd275aa08b4f66',
        format: 'iframe',
        height: 90,
        width: 728,
        params: {},
      };
    </script>
    <script
      type='text/javascript'
      src='//www.topcreativeformat.com/737136958b02f59379dd275aa08b4f66/invoke.js'
    ></script>
    <script type='text/javascript'>
      atOptions = {
        key: 'f8d8bc3f4031d094c05028a0c44457ee',
        format: 'iframe',
        height: 250,
        width: 300,
        params: {},
      };
    </script>
    <script
      type='text/javascript'
      src='//www.topcreativeformat.com/f8d8bc3f4031d094c05028a0c44457ee/invoke.js'
    ></script>
  </body>
</html>

<style>
  body {
    background-color: black;
  }

  .fade-in {
    animation: fadeIn ease 2s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
</style>
