---
import { Time } from '../components/Time.tsx';
import '../styles/global.css';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <!-- <link rel='icon' type='image/svg+xml' href='/favicon.svg' /> -->
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>TabsForMeals</title>
    <script
      async
      src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9830751577760757'
      crossorigin='anonymous'></script>
    <meta name='monetag' content='11a40653f7ce2a546a0064169c86f3d2' />
    <script
      src='https://alwingulla.com/88/tag.min.js'
      data-zone='88242'
      async
      data-cfasync='false'></script>
  </head>
  <body>
    <img
      src='https://images.unsplash.com/photo-1476231682828-37e571bc172f'
      class='splash-image'
    />
    <Time client:only='react' />
  </body>
</html>

<style>
  .splash-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
</style>
