---
import { Time } from '../components/Time.tsx';
import '../styles/global.css';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <!-- <link rel='icon' type='image/svg+xml' href='/favicon.svg' /> -->
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>TabsForMeals</title>
    <script
      async
      src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9830751577760757'
      crossorigin='anonymous'></script>
    <meta name='monetag' content='11a40653f7ce2a546a0064169c86f3d2' />
  </head>
  <body class='fade-in'>
    <img
      src='https://pub-bf0a670fada84c7cb87dc44341fb7cb7.r2.dev/photo-1476231682828-37e571bc172f-min.jpeg'
      class='fixed top-0 left-0 w-screen h-screen object-cover'
    />
    <Time client:only='react' />
  </body>
</html>

<style>
  .fade-in {
    background-color: rgb(0, 0, 0);
    animation: fadeIn ease 2s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
</style>
