---
import { Time } from '../components/Time.tsx';
import '../styles/global.css';
import { selectRandomImageURL } from '../utils/images';

const imageURL = selectRandomImageURL();
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <!-- <link rel='icon' type='image/svg+xml' href='/favicon.svg' /> -->
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>TabsForMeals</title>
    <script
      async
      src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9830751577760757'
      crossorigin='anonymous'></script>
    <meta name='monetag' content='11a40653f7ce2a546a0064169c86f3d2' />
  </head>
  <body class='fade-in'>
    <img
      src={imageURL}
      class='fixed top-0 left-0 w-screen h-screen object-cover'
    />
    <div class='fixed top-0 left-0 bottom-0 right-0 bg-black opacity-25'></div>
    <Time client:only='react' />
    <script type='text/javascript'>
      var infolinks_pid = 3424156;
      var infolinks_wsid = 0;
    </script>
    <script
      type='text/javascript'
      src='//resources.infolinks.com/js/infolinks_main.js'></script>
  </body>
</html>

<style>
  body {
    background-color: black;
  }

  .fade-in {
    animation: fadeIn ease 2s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
</style>
