---
import Time from '../components/time.astro';
import '../styles/global.css';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <img
      src='https://images.unsplash.com/photo-1476231682828-37e571bc172f'
      class='splash-image'
    />
    <Time client:load />
  </body>
</html>

<style>
  .splash-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
</style>
